.product-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* z-index: 1; */
  margin-top: 4%;
  /* margin-bottom: 10rem; */
}

.product-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  white-space: nowrap;
  scrollbar-width: none; /* Hide the scrollbar */
  -ms-overflow-style: none; /* Hide the scrollbar on IE and Edge */
}

.product-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on WebKit browsers */
}

.product-item {
  flex: 0 0 auto;
  width: 200px; 
  /* height: 280px; */
  text-align: center;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   padding-bottom: 20px;
   margin: 0 20px;
}
.product-item:hover{
  border: 1px solid;
    border-radius: 20px;
  background-color: gainsboro;
    cursor: pointer;
}

.button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 8px 50px;
  transition: background-color 0.3s ease-in-out;
  /* z-index: 1; */
  border-radius: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}
.crossed-line {
  text-decoration: line-through;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.pre-btn,.next-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.pre-btn,.next-btn p {
  font-size: 24px;
  color: #000;
}

 
